BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
IndentCaseLabels: true
BreakBeforeBraces: Linux
AlignTrailingComments: true
AlignEscapedNewlines: Left
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true
