name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-node@v5
      - run: npm ci 
      - uses: pyodide/setup-emsdk@v15
        with:
          version: 4.0.15
          actions-cache-folder: 'emsdk-cache'
      - run: |
          cd assets
          make --jobs=4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: assets

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
        
