name: Python package

on: [push]

env:
  UV_NO_EDITABLE: 1

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13, 3.14]

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv sync
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
      - uses: qoomon/actions--parallel-steps@v1
        with:
          steps: |
            - run: uvx ruff check
            - run: uvx ty check
            - run: uvx pyright
      - run: uv run pytest
        env:
          pytest_github_report: true
      - uses: konsumer/install-wasi-sdk@v1
      - run: npm ci
        working-directory: ./forth
      - run: npm run test
        working-directory: ./forth
