name: Python package

on: [push]

env:
  UV_NO_EDITABLE: 1

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13, 3.14]

    steps:
      - uses: actions/checkout@v4
      - uses: pyodide/setup-emsdk@v15
        with:
          version: 4.0.15
          actions-cache-folder: 'emsdk-cache'
      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv sync
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
      - run: uvx ruff check
      - run: uvx ty check
      - run: uvx pyright
      - uses: browser-actions/setup-chrome@v2
      - run: uv run python -m playwright install chromium --with-deps
      - run: uv run pytest
        env:
          pytest_github_report: true
